* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style-type: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
  }
  /*__________________________*/
body{
    background: url("../imgs/all_bg.png") repeat;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.bg1{
  width: 100%;
  height: auto;
}
header{
    background: rgba(0, 0, 0, 0.63);
    
    max-width: 100vw;
    width: 100%;
}
.section1{
  width: 100%;
}
.container{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;  
}
.logo{
    height: 90%;
    width: auto;
}


.section2{
    
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    /*border: black 1px solid;*/
    font-weight: 700;
    max-height: 600px;
    margin: 0 auto;
    width: 90%;
}
.text{
  max-height: 600px;
    width: 40%;
    line-height: 1.5;
    margin: auto 0;
    overflow-y: auto;
}


.section3{
    margin-top: 30px;
    width: 100%;
    height: auto;
}
.download:active, .download:hover, .download{
  text-decoration: none;
  color: white;
}
.download{
  font-size: 36px;
}

.download_div{
  text-align: center;
  
  margin: 100px auto 70px auto;
}
button{
  width: 300px;
  background-color: #000;
  border-radius: 15px;

}
.header_tree{
    color: black;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    
}
.header_tree::before{
    content: url("../imgs/tree.png");
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.7);
}
.scroll {
    position: relative;
    
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
}
.header_family{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}
.block {
    position: relative;
}
#myimage{
    height: auto;
    width: 100%;
}
  

.section4{
    margin-top: 150px;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 100px;
}
.header_book{
    color: black;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    
}
.header_book::before{
    content: url("../imgs/book.png");
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.7);
}
.book_text{
  font-size: 36px;
  font-weight: 700;
  max-width: 99%;
  max-height: 100%;
}
.container a:active, .container a:hover, .container a{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1000px){
  .section2{
    display: block;
}
  .img{
    text-align: center;
  }
  .text{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    overflow-y: visible;
    max-height: none;
  }
  .section3{
    margin-top: 550px;
  }
}

@media only screen and (max-width: 930px){
  .section2{
    max-height: none;
  }
  .section3{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 715px){
  .container{
    flex-direction: column;
    height: 150px;
  }
  .logo{
    display: block;
  }
}
@media only screen and (max-width: 400px){
  .container{
    flex-direction: column;
    height: 250px;
  }
  .logo{
    height: 50px;
    width: auto;
  }
}
@media only screen and (max-width: 514px){
  .katya{
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 340px){
  .text h1{
    font-size: 20px;
    font-weight: 700;
  }
  .text p{
    font-size: 18px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 700px){
  .book_text{
    font-size: 25px;
  }
}
@media only screen and (max-width: 650px){
  .header_book{
    text-align: center;
  }
}
@media only screen and (max-width: 340px){
  .book_text{
    font-size: 20px;
  }
  .header_book{
    text-align: center;
    font-size: 22px;
  }
}